.new-arrival{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px
}
.new-arrival h1{
    color: #222;
    font-size: 50px;
    font-weight: 600;
}
.new-arrival hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #222;
}
.arrival{
    margin: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}