.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 4px -2px #000;
  background: rgb(255, 183, 0);
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-logo p {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.nav-menu li {
  display: flex;
  color: rgb(5, 6, 5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  background: #f00;
  border-radius: 10px;
}
.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
    position: absolute;
    top: 55px;
    background-color: #333;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
    margin-top: 0;
  }

  .nav-menu.active {
    opacity: 1;
    display: flex;
  }
  .nav-menu li {
    margin: 10px 0;
    color: white;
  }

  .menu-btn {
    display: flex;
  }
}

.login-cart {
  display: flex;
  align-items: center;
  gap: 25px;
}
.login-cart button {
  width: 115px;
  height: 50px;
  outline: none;
  border: 1px solid #666;
  border-radius: 75px;
  color: #090303;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
}
.login-cart button:active {
  background-color: #ddd;
}
.login-cart img{
  width: 30px;
}
.cart-count {
  background-color: #f00;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35px;
  margin-left: -55px;
  font-size: 14px;
  color: #fff;
  border-radius: 11px;

}
