.hero{
    height: 100vh;
    background-image: url(../../assets/background3.jpg);
    background-size:cover;
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #000;
    font-size: 36px;
    font-weight: 600;
}
.hero-left p{
    color: #000;
    font-size: 50px;
    font-weight: 800 ;
}
.hero-cart{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-cart img{
    width: 150px;
}
.hero-latest-arrival button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 70px;
    border: none;
    border-radius: 35px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    background-color: rgb(255, 183, 0);
    cursor: pointer;
  }
  .hero-latest-arrival button:active {
    background-color: rgba(255, 183, 0, 0.678);
  }
  .introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
    color: #333;
    text-align: center;
    max-width: 90%;
}
.introduction-text span{
    color:rgb(255, 183, 0);
    font-size: 45px;
}
.introduction-text h1 {
    font-size: 30px;
    margin:0 0 12px;
}
@media (max-width:575px){
    .introduction-text h1 {
        font-size: 26px;
    }
}
